<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

    <noscript>
        <p>Please enable javascript to access this website</p>
    </noscript>

    <div id="app-wrapper"></div>

    {{> frontend}}
</body>
</html>
